@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --main-bg-color: rgb(88, 0, 0);
}
* {
    margin: 0;
    padding: 0;
}

header {

    background-color: var(--main-bg-color);
    font-family: "Ubuntu", sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}
.logo:hover{
    justify-content: center;
    cursor: pointer;
    transform: scale(1.05);
}

.logo img {
    height: 7vh;
    margin: 5% 10%;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 black;
}

nav ul {
    display: flex;
    align-items: center;
    margin-left: 18vw;
}

nav ul li {
    list-style: none;
    padding: 0 18px;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;


}

.search input {
    width: 30vw;
    height: 3vh;
    padding: 0 15px;
    border-radius: 4px;
    margin: 0 10px 0 50px;
    border: 2px solid black;
    font-family: "Ubuntu", sans-serif;
}

.btn {

    padding: 3px 10px;
    background: var(--main-bg-color);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}
.container{
    
    margin:auto;
    margin-top: 5vh;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2), 0 6px 20px 0 rgba(1, 1, 1, 0.19);
}